html, body{
   /*font-family: century-gothic, sans-serif; */
   font-family: "Roboto" !important;
   font-size: 14px;
}
 .disable{
  opacity: 0.5;
  cursor: not-allowed;
}
.pointer{
	cursor: pointer;
}
.web-only{
	display: '';
}
.mobile-only{
	display: none;
}

@media only screen and (max-width: 768px) {
 	.mobile-only{
 		display: inline;
 	}
 	.web-only{
		display: none;
	}
}
.new{
	font-weight: bold;
}
.bold{
	font-weight: bold;
}
.old{
	font-weight: normal;
}
.hide{
	display: none;
}
.img-bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat !important;
}
.width-1{
  width:50px;
}